body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game > div {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.game-toolbar, .game-info, .game-board, .game-history {
  user-select: none;
}

.game-tool-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 13.5px;
  background: #e0e1e2;
  color: #555;
  transition: background-color linear 0.1s 0s;
}

.game-tool-btn > .title {
  margin-right: 8px;
}

.game-tool-btn:hover {
  background: #d0d1d3;
}

.game-tool-btn.active-second {
  background: #c9ddf3;
  color: #000;
}

.game-tool-btn.active {
  background: #c2c3c4;
  color: #000;
}

.game-tool-btn.disabled {
  opacity: 0.45;
}

.game-toolbar > .game-tool-btn:not(:first-child) {
  margin-left: 12px;
}

.game-queue {
  font-size: 14px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-cell {
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  cursor: default;
  transition: background-color linear 0.2s 0s;
}

.board-cell-clickable {
  cursor: pointer;
}

.board-cell:hover {
  background: #f7f7f7;
}

.board-cell-empty {
  background: #e7e7e7;
}

.board-cell-1 {
  color: #3434e6;
  background: #ededf7;
}
.board-cell-2 {
  color: #2b2bbe;
  background: #dfdfee;
}
.board-cell-3 {
  color: #14146b;
  background: #dadaec;
}

.board-cell-4 {
  color: #29be29;
  background: #edf7ed;
}
.board-cell-5 {
  color: #2ba52b;
  background: #dfeedf;
}
.board-cell-6 {
  color: #146b14;
  background: #daecda;
}

.board-cell-7 {
  color: #e63434;
  background: #f7eded;
}
.board-cell-8 {
  color: #be2b2b;
  background: #eedfdf;
}
.board-cell-9 {
  color: #6b1414;
  background: #ecdada;
}

.game-info {
  margin-left: 10px;
  min-width: 140px;
}

.game-history {
  margin-left: 10px;
  min-width: 150px;
  max-height: 240px;
  overflow-y: auto;
}

.game-info > ul {
  margin: 4px;
  padding: 4px;
}

.game-history > ol {
  margin: 4px;
  padding: 4px 4px 4px 20px;
}

.game-info > ul > li {
  list-style-type: none;
}

.game-history > ol > li {
  cursor: pointer;
}

.game-history > ol > li.active {
  font-weight: bold;
}
