
.toast-container {
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.toast-item {
  margin-top: 20px;
  padding: 8px;
  width: fit-content;
  min-width: 200px;
  min-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background: rgba(32, 32, 32, 0.8);
  color: #fff;
  white-space: pre-line;
}

.toast-enter {
  opacity: 0;
}
.toast-enter-active {
  opacity: 1;
  transition: opacity .3s ease-out;
}
.toast-exit {
  opacity: 1;
}
.toast-exit-active {
  opacity: 0;
  transition: opacity .8s ease-out;
}
